<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      .message{
        background-color: whitesmoke;
      }
    </style>
  </head>
  <body>
    <main class="message__board">
      <header>
        <h1>Message Board</h1>
      </header>
      <div class="board">
        <% messages.forEach(message => { %>
          <div class="board__item">
            <div class="item__header">
              <span> By <%= message.user %>, </span>
              <span> <%= message.added.getUTCDate() %> </span>
            </div>
            <div class="item__text"">
              <%= message.text %>
            </div>
          </div>
        <% }) %>
      </div>
    </main>
  </body>
</html>
