<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      .message{
        background-color: whitesmoke;
      }
    </style>
  </head>
  <body>
    <h1>Message Board</h1>
    <div>
      <% messages.forEach(message => { %>
        <span> <%= message.user %></span>
        <div>
          <%= message.text %>
        </div>
        <span> <%= message.added %> </span>
      <% }) %>
    </div>
  </body>
</html>
